* {
    font-family: "Segoe UI", Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

#controlAddIn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: calc(100% - 128px) !important;
    margin-left: 60px;
}

